/*  */
/* Head */
/*  */
div{
  /* background-size: 100%; */
}
.headerLogo{
  display: inline-block;
  margin-left: 25%;
  overflow: auto;
}

.headerText{
  display: inline-block;
  margin-left: 1px;
}

.first-line {
  margin-top: 5px;
  margin-right: 25%;
  float: right;
}

#headerBorder{
  border: 5px dashed grey;
  margin-left: 25%;
  margin-right: 25%;
}

/*  */
/* Main */
/*  */

.mainDiv{
  margin-top: 50px;
  margin-left: 25%;
}

.mainImg{
  margin-left: 25%;
}

.smallPrinterImg{
  margin-left: 80%;
}
#para1 {
  margin-left: 25%;
  margin-right: 27%;
}